body, html {
  margin: 0;
  height: 100%;
  color: white;
  background-color: #0b739d;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
/**HERO PAGE STYLING**/
.hero-image {
  background-image: url("../assets/borehole\ image.png");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page-hero{
  background-color: white;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
}
 
@media (max-width:600px){
.hero-text h1{
  font-size: 2    em;
}
}
.logo{
  display:flex;
  justify-content: center;
  align-items: center;
}
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 50px;
  padding:20px;
  background-color: #0b739d;
  color: white;
  border: #0b739d;
  border-radius:50px ;
}
button:hover{
  background-color: white;
  color: #0b739d;
  cursor: pointer;
}

/**ABOUT US PAGE STYLING**/

#about-page{
  background-color: #0b739d;
  color: white;
  height: 520px ;
  margin-top: 0;
  text-align: center;
}
.about-us h1{
  font-family: "Montserrat", sans-serif !important;
  font-weight:700;
  font-style: normal;
  text-align: center;
  padding: 15px;
  font-size: 3em;
}

@media (max-width:600px){
  .about-us p{
font-size: 15px;
  }
  
}

@media (min-width:768px){
  .about-us p{
font-size: 20px;
  }
  
}

@media (min-width:1336px){
  .about-us p{
font-size: 25px;
  }
  
}

.about-us hr{
  color: white;
  width: 100%;
  align-self: center;
}

/**SERVICES PAGE STYLING**/

.services{
  height: 100%;
  margin: 0;
}
.services-maintext h1{
  background-color:white;
  color: #0b739d;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 10px;
  font-size: 2.5em;
}
.first-service{
  margin: 0;
   display: flex;          /* Enables flexbox */
  align-items:normal
}
.first-service img{
display: flex;
justify-self: left;

}
.first-serv-text, .second-service-text, .third-service-text, .fourth-service-text{
  color: #0b739d;
}
.service-list{
  font-weight: 500;
}
/**flipcard material**/
.flip-card {
  width: 75%;
  height: 100;
  perspective: 1000px;
 
}
@media(max-width:600px){
  .flip-card{
    font-size: 7px;
  }
}

.flip-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.flip-card:hover .flip-inner {
  transform: rotateY(180deg);
  
}
.flip-card:hover .service-heading{
  backface-visibility: hidden;
}
.flip-front, .flip-back {
  display: flex;
  flex-direction: column;      /* Ensures content stays in a row */
  align-items: center;      /* Vertically centers content */
  justify-content: space-around; /* Spaces items evenly */
  padding: 5px;            /* Prevents text from touching edges */
  box-sizing: border-box;   /* Includes padding in the width calculation */
  overflow: hidden;         /* Ensures nothing spills out */
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateX(0deg);
  border-radius: 8px;
  font-size: 1.4 rem;
  color: white;
}
.flip-back {
  transform: rotateY(180deg);
}
.second-service img{
display: flex;
justify-self: end;
}
@media (min-width:768px){
  .second-service img{
    display:grid;
    justify-self: end;
  }
}

.third-service img{
display: flex;
justify-self: left;
}

.fourth-service img{
display: flex;
justify-self:end;
}