body, html {
  margin: 0;
  height: 100%;
  color: white;
  background-color: #0b739d;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
/**HERO PAGE STYLING**/
.hero-image {
  background-image: url("../assets/borehole\ image.png");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page-hero{
  background-color: white;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
}
 
@media (max-width:375px){
.hero-text h1{
  font-size: 2em;
}
}
.logo{
  display:flex;
  justify-content: center;
  align-items: center;
}
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 50px;
  padding:20px;
  background-color: #0b739d;
  color: white;
  border: #0b739d;
  border-radius:50px ;
}
button:hover{
  background-color: white;
  color: #0b739d;
  cursor: pointer;
}

/**ABOUT US PAGE STYLING**/

#about-page{
  background-color: #0b739d;
  color: white;
  height: 520px ;
  margin-top: 0;
  text-align: center;
}
.about-us h1{
  font-family: "Montserrat", sans-serif !important;
  font-weight:700;
  font-style: normal;
  text-align: center;
  padding: 15px;
  font-size: 3em;
}

@media (max-width:600px){
  .about-us p{
font-size: 15px;
  }
  
}

@media (min-width:768px){
  .about-us p{
font-size: 20px;
  }
  
}

@media (min-width:1336px){
  .about-us p{
font-size: 25px;
  }
  
}

.about-us hr{
  color: white;
  width: 100%;
  align-self: center;
}

/**SERVICES PAGE STYLING**/

.services{
  height: 100%;
  margin: 0;
}
.services-maintext h1{
  background-color:white;
  color: #0b739d;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 2.5em;
}
.first-service{
  margin: 0;
  display: flex;          /* Enables flexbox */
  align-items:normal
}
.first-service img, .second-service img, .third-service img, .fourth-service img{
  height: 100%;
  width: 100%;
display: flex;
justify-self: left;

}
.first-serv-text, .second-service-text, .third-service-text, .fourth-service-text{
  color: #0b739d;
}
.service-list{
  font-weight: 500;
  font-display: swap;
}

/**CONTACT PAGE STYLING**/

.contact-us h1{
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-style: normal;
}
.contact-us p{
  display: flex;
  justify-self: left;
}

@media(max-width:375px){
  .contact-us p{
font-size: 10px;
  }
}

