body, html {
  margin: 0;
  height: 100%;
  color: white;
  background-color: #0b739d;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
/**HERO PAGE STYLING**/
.hero-image {
  background-image: url("../assets/borehole\ image.png");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page-hero{
  background-color: white;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 3em;
}
 
@media (max-width:600px){
.hero-text h1{
  font-size: 2    em;
}
}
.logo{
  display:flex;
  justify-content: center;
  align-items: center;
}
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 50px;
  padding:20px;
  background-color: #0b739d;
  color: white;
  border: #0b739d;
  border-radius:50px ;
}
button:hover{
  background-color: white;
  color: #0b739d;
  cursor: pointer;
}

/**ABOUT US PAGE STYLING**/

#about-page{
  background-color: #0b739d;
  color: white;
  height: 600px ;
  margin-top: 0;
  text-align: center;
}
.about-us h1{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: center;
  padding: 15px;
  font-size: 3em;
}

@media (max-width:600px){
  .about-us p{
font-size: 15px;
  }
  
}

@media (min-width:768px){
  .about-us p{
font-size: 20px;
  }
  
}

@media (min-width:1336px){
  .about-us p{
font-size: 25px;
  }
  
}

.about-us hr{
  color: white;
  width: 70%;
}

/**SERVICES PAGE STYLING**/

.services{
  height: 100%;
  margin: 0;
}
.services-maintext{
  background-color:white;
  color: #0b739d;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 2.5em;
}
.first-service{
  margin: 0;
}
.first-service img{
width:50%;
height:25%;
display: flex;
justify-self: left;

}

.second-service img{
  width: 50%;
  height: 25%;
display: flex;
  justify-self: end;
}
@media (min-width:768px){
  .second-service img{
    display:grid;
    justify-self: end;
  }
}

.third-service img{
  width:50%;
height:25%;
display: flex;
justify-self: left;
}

.fourth-service img{
  width:50%;
height:25%;
display: flex;
justify-self:end;
}